.logo{
    width:150px;
    height:100px;
    margin-right:500px;
    margin-top:20px;
}
.hindi{
    color:green;
    font-size:30px;
    margin-top:25px;
    margin-right:100px;
    text-align:right;
    margin-bottom:0px;

}
.english{
    font-size: 19px;
    color:green;
    margin-left: 15px;
    margin-right:20px;
}
.homebuttons{
    margin-left:40px;
}
.homebuttons1{
    margin:15px;
    color:green;
    background-color: white;
    border-color: white;
    border-width:0px;
}
.fixed{
    position:fixed;
}
.corosel{
    width:100px;
}
.gif{
    width:150px;
}
.corosel{
    width:700px;
    margin-left:200px;
}
.totalcorosel{
    margin-left:100px;
    align-items: center;
}
.iiitkhead{
    color:green;
}
.homepagematter{
    margin-left: 60px;
}
.placementtable{
    width:50px;
}
.advertable{
    width:50px;
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left:60px;
    margin-top:20px;
    width:750px;
    background-color:#03f4fc;
    border-radius:20px;
}
.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}
.vision{
    color:#05abf2;
    margin-left: 60px;
    margin-top:15px;
}
.knowmorebutton{
    margin-left:60px;
    background-color:white;
    color:#cbd6d6;
    border-color: #cbd6d6;
    border-width: 1px;
    border-radius: 5px;
    padding:3px;
}
.cardshajulin{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.cardshajulin:hover
{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}
.corosel3{
    padding:10px;
    height:400px;
    width:550px;
}
.teacherbox{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    margin: 10px;
}
.teacherbox:hover{
    transform:scale(1.1);
}
.meetthefaculty{
    background-color:#03befc;
    width:530px;
    margin-bottom:15px;
    margin-left: 60px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);

}
.plusbutton{
    background-color:#03befc;
    color:white;
    border-color: #03befc;
    width:100px;
    font-size:40px;
    border:none;
    height:60px;
    padding-left: 220px;
}
.card2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left:60px;
    width:750px;
    border-radius:5px;
    width:600px;
    height:380px;
}
.publications{
    color:#03befc;
    padding-top:5px;
    padding-right:15px;
    padding-left:15px;
}
.glanceimg{
    width:450px;
    height:250px;
    border: solid 3px black;
}
.glancehead{
    color:#03befc;
    text-align:center;
}
.iconbox{
    background-color: white;
    border-radius: 100px;
    border-style:solid 4px black;
    width:50px;
    height:50px;
    align-items: center;
    margin:5px;
}
.fa-twitter{
    color:black;
    margin:17px;
}
.fa-twitter:hover{
    color:#03befc;
}
.fa-facebook-f{
    color:black;
    margin:17px;
    margin-left:19px;
}
.fa-facebook-f:hover{
    color:#3b5998;
}
.fa-linkedin-in{
    color:black;
    margin:17px;
    margin-left:19px;
}
.fa-linkedin-in:hover{
    color:#03befc;
}
.fa-youtube{
    color:black;
    margin:17px;
}
.fa-youtube:hover{
    color:red;
}
.lastdiv{
    margin-left: 100px;
    height:100px;
    margin-top: 20px;
}
